.headerBody {
    background: #ffffff;
    background: -webkit-linear-gradient(0deg, #ffffff 0%, #bdbdbd 100%);
    background: linear-gradient(0deg, #ffffff 0%, #bdbdbd 100%);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.imageLogo {
    /* width: 300px; */
    /* height: 94px; */

}   